server:
  port: 8080

spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

jwt:
  # 授权服务器使用私钥
  key-store:
    location: classpath:keystore.jks
    password: 123456
    alias: auth-key
    key-password: 123456

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG