server:
  port: 8080

spring:
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: Ov23lizUMUyQojwwW44a
            client-secret: e97b00d1de993579355d759f709212c37da94b18
            scope: read:user,user:email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}" #应在OAuthApps中配置Authorization callback URL为"http://localhost:8080/login/oauth2/code"
            client-name: GitHub
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
